*{
  padding: 0;
  margin: 0;
}
html, body {
  overflow-x: hidden;
}

.Contact-Title .container .row{
  text-align: center;
  h1{
    text-align: center;
    color: #FFC500;
    font-size: 5vw;
    font-family: 'Exo', sans-serif;
    margin: 25px 0;
    width: 100%;
  }
}

.Triangle-Container{
  display: flex;
  justify-content: center;
.Downwards-Triangle{
  overflow: hidden;
  width: 0;
  height: 0;
  border-left: 1000px solid transparent;
  border-right: 1000px solid transparent;
  border-top: 75px solid black;
  z-index: 100;
}
}

.Contact-Email-Form{
  background-image: url(../images/HeroBackground.png);
  display: flex;
  justify-content: space-around;
  margin-top: -75px;
  padding-top: 100px;
  .Top-Form{
    margin: 25px 0;
    width: 60%;
    .textarea{
      color: white;
    }
    }
  }

//placeholder text colour fix
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* IE 10+ */
    color: white;
}
:-moz-placeholder { /* Firefox 18- */
    color: white;
}


.Find-Us-Container{
  background-color: black;
  h2{
    text-align: center;
    color: #FFC500;
    font-size: 4vw;
    font-family: 'Exo', sans-serif;
    margin: 25px 0;
    width: 100%;
  }
  .Map-Container{
    height: 500px;
    padding: 0;
    margin: 0;
  }
  .Address-Container{
    p{
          font-family: 'Quicksand', sans-serif;
          color: white;
          font-size: 35px;
          width: 80%;
          margin: auto;
    }
  }
}
.Address-Container h3{
      color: #FFC500;
      font-size: 50px;
      font-family: 'Exo', sans-serif;
      margin: 0 auto;
      width: 100%;
      text-align: left;
      width: 80%;
    }

.Request-Callback-Container{
  h2{
    text-align: center;
    color: #FFC500;
    font-size: 3.5vw;
    font-family: 'Exo', sans-serif;
    margin: 50px 0;
    width: 100%;
  }
  .Callback-Form{
    padding: 50px 0;
    width: 80%;
    margin: auto;

  }
}


.wpforms-submit{
  color: black;
  font-size: 20px;
  font-family: 'Exo', sans-serif;
  background-color: #FFC500;
  padding: 10px;
  border: none;
}
.wpforms-field-medium{
  background-color: transparent;
  color: white;
  outline: 0px;
  border: 0;
  border-bottom: 2px solid white;
  padding: 10px 0;
  margin: 15px 0;
  width: 100%;
}
.wpforms-field-large {
  background-color: transparent;
  color: white;
  outline: 0px;
  border: 0;
  border-bottom: 2px solid white;
  padding: 10px 0;
    margin: 15px 0;
}
.wpforms-field-label{
  display: none;
}
.wpforms-101-field_2{
  width: 100%;
}
#wpforms-101-field-hp{
  display: none;
}
#wpforms-102-field-hp{
  display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 0px) and (max-width:767px) {

  .Contact-Email-Form{
    background-image: url(../images/HeroBackground.png);
    display: flex;
    justify-content: space-around;
    margin-top: -75px;
    padding-top: 100px;
    .Top-Form{
      margin: 25px 0;
      width: 90%;
      .textarea{
        color: white;
    }
  }
}

.Address-Container{
  margin: 25px;
  p{
        font-family: 'Quicksand', sans-serif;
        color: white;
        font-size: 35px;
        width: 100%;
        margin: auto;
        text-align: center;
  }
}
.Address-Container h3{
    text-align: center;
    color: #FFC500;
    font-size: 50px;
    font-family: 'Exo', sans-serif;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }



}

/* medium devices (landscape phones, 576px and up) */
@media (min-width: 768px) and (max-width:991px) {

  .Contact-Email-Form{
    background-image: url(../images/HeroBackground.png);
    display: flex;
    justify-content: space-around;
    margin-top: -75px;
    padding-top: 100px;
    .Top-Form{
      margin: 25px 0;
      width: 90%;
      .textarea{
        color: white;
        }
      }
    }

    .Address-Container{
      margin: 25px 0;
      p{
            font-family: 'Quicksand', sans-serif;
            color: white;
            font-size: 35px;
            width: 100%;
            margin: auto;
            text-align: center;
      }
    }
    .Address-Container h3{
        text-align: center;
        color: #FFC500;
        font-size: 50px;
        font-family: 'Exo', sans-serif;
        margin: 0 auto;
        width: 100%;
        text-align: center;
      }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px){



}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
